body{
  background-color: #fff;
  font-family: "Raleway";
}


img{
  height: auto;
  width: 100%;
  max-width: 500px;
}

.grid {
  animation-name: slideUp;
  animation-delay: 600ms;
  animation-duration: 2s;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.bx{
  margin: 1vw;
  width: 30vw;
}

.navbar-item {
  font-size: 1.3em;
  margin-right: 10px;
}

.logo {
  text-align: left;
  margin-top: auto;
  color: black;
  text-decoration: none;
  font-size: 2.0em;
  letter-spacing: 1.5px;
  font-family: 'Lobster', cursive;
}

nav {
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
}


.mainc {
  margin-left: 2vw;
  margin-right: 2vw;
}

.comic {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  grid-gap: 20px;
}

.comicimg {
  max-width: 800px;
}


/*** Animation ***/
.logo-animation {
  animation-duration: 1.0s;
  opacity: 0;
  animation-fill-mode: both;
  animation-delay: 300ms;
  animation-name: bounceIn;
}


nav, 
.grid {
  animation-timing-function: cubic-bezier(0, 0.5, 0, 1);
  animation-fill-mode: both;
}

.navbar-end {
  animation-delay: 100ms;
  animation-duration: 1s;
  animation-name: slideDown;
}


@keyframes bounceIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(15rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
